% rebase('base.html', title='index')

<nav class="panel">
    <p class="panel-heading">PAGES | <a href="#"><span class="button is-small has-background-dark has-text-white"><b>NEW +</b></span></a></p>
    % for item in data:
        <a class="panel-block" href="page/{{item[1]}}">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        {{item[0]}}
        </a>
    % end
</nav>
<p>Hello. qbqbq qbqbq bqbqb qbqbqb bqbqb bqbqb qbqbqb qbqbqb qbqbqb qbqbqbq bqbqbq bqbqbqb qbqbqb qbqbqbq bqbqb</p>
