% rebase('base.html', title='index')
<h2 class="mb-4">
    Pages  <a class="btn btn-warning" href="/page/new">Add new</a>
</h2>

<hr>
% for item in data:
<p class="h5 mb-3"><small class="text-muted">Title:</small> {{item['title']}}</p>
<div class="btn-group mb-2" role="group" aria-label="Basic example">
    <a class="btn btn-outline-dark btn-sm" href="/page/{{item['page_id']}}">Posts</a>
    <a class="btn btn-outline-dark btn-sm" href="/page/{{item['page_id']}}/preview">Preview</a>
    <a class="btn btn-dark btn-sm" href="/edit/page/{{item['page_id']}}">Edit</a>
</div>
<hr>
% end
