% rebase('base.html', title='page', page_id=data['page_id'])

<nav class="panel">
    <p class="panel-heading">POSTS for <b>{{data['title']}}</b>
     | <a href="/edit/page/{{data['page_id']}}/post/new">
    <span class="button is-small has-background-dark has-text-white">
    <b>NEW Article</b></span></a></p>
</nav>


% for item in data['posts']:
<div class="card">
    % if item['headline']:
        <header class="card-header">
            {{item['headline']}}
        </header>
    % end
    <div class="card-body">
        <div class="media">
                <figure class="">
                    <img class="rounded-circle mr-2" style="width: 40px;" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            <div class="media-body">
                <p class="title mb-0">{{item['author']}}</p>
                <!-- <p class="subtitle is-6">@johnsmith</p> -->
                <time style="font-size: 12px;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
        <div class="content">
           {{!item['content']}}
        </div>
        <a class="btn btn-primary" href="/edit/page/{{data['page_id']}}/post/{{item['post_id']}}" role="button">Link</a>
    </div>
</div>
<div style="height: 20px;"></div>
% end