% rebase('base.html', title='Posts')

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Sites</a></li>
        <li class="breadcrumb-item">Spectator</li>
        <li class="breadcrumb-item"><a href="/site/{{site}}/page/list">Pages</a></li>
    </ol>
</nav>

<h2 class="mb-4">
    Posts  <a class="btn btn-warning" href="new">Add new</a>
</h2>
<p class="panel-heading">Page: <b>{{page}}</b>

% for item in data:
<div class="card">
    % if item['headline']:
        <header class="card-header">
            {{item['headline']}}
        </header>
    % end
    <div class="card-body">
        <div class="content">
           {{!item['processed']}}
        </div>
        <a class="btn btn-dark btn-sm" href="edit" role="button">Edit</a>
    </div>
</div>
<div style="height: 20px;"></div>
% end