% rebase('base.html', title='index')

<table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 72%" scope="col">Title | <a class="badge badge-secondary" href="/page/new">+ New Page</a></th>
        <th style="width: 10%" scope="col"></th>
        <th style="width: 10%" scope="col"></th>
        <th style="width: 8%" scope="col"></th>
      </tr>
    </thead>
    <tbody>
        % for item in data:
        <tr>
            <td>{{item['title']}}</td>
            <td><a class="btn btn-primary btn-sm" href="/page/{{item['page_id']}}">View Posts</a></td>
            <td><a class="btn btn-success btn-sm" href="/page/{{item['page_id']}}/preview">Preview</a></td>
            <td><a class="btn btn-warning btn-sm" href="/edit/page/{{item['page_id']}}">Edit</a></td>
        </tr>
        % end
    </tbody>
  </table>
