% rebase('base.html', title='post_edit')

% if data['post'] is not None:
%   post_id, headline, content = data['post']['post_id'], data['post']['headline'], data['post']['content']
%   status, author = data['post']['status'], data['post']['author']
    <h3 class="text-muted">Edit post</h3>
% else:
%    post_id, headline, content, status, author = 'new', '', '', '', ''
    <h3 class="text-muted">New post</h3>
% end
<form id="myForm" action="/save/page/{{data['page_id']}}/post/{{post_id}}" method="post">
    <div class="form-group">
        <label class="label"><span><b>Subhead</b></span> (optional)</label>
            <input class="form-control" name="subhead" type="text" value="{{headline}}" tabindex="1">
        <small id="emailHelp" class="form-text text-muted">Original content: {{headline}}.</small>
     </div>
    <!-- Create the editor container -->
    <div class="form-group">
        <label class="label"><b>Content</b></label>
        <div class="">
            <textarea name="content" id="editor" rows="4" cols="50">
                {{!content}}
            </textarea>
        </div>
    </div>      

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="author"><b>Author</b></label>
            <select class="form-control" name="author">
                    % for author in authors:
                        % if author['name'] == author:
                            <option value="{{author['name']}}" selected>{{author['name']}}</option>
                        % else:
                            <option value="{{author['name']}}" >{{author['name']}}</option>
                        % end
                    % end
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="status"><b>Status</b></label>
            <select class="form-control" name="status">
                % for item in ['draft', 'live']:
                    % if item == status:
                        <option value="{{item}}" selected>{{item}}</option>
                    % else:
                        <option value="{{item}}" >{{item}}</option>
                    % end
                % end
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="status"><b>Rank</b></label>
            <select class="form-control" name="status">
                % for item in ['1', '2', 'normal']:
                    % if item == 'normal':
                        <option value="{{item}}" selected>{{item}}</option>
                    % else:
                        <option value="{{item}}" >{{item}}</option>
                    % end
                % end
            </select>
        </div>
    </div>

    <button type="submit" form="myForm" class="btn btn-primary mr-2" value="save">Save</button>
    <button type="button" class="btn btn-dark" value="cancel" onclick="location.href='/page/{{data['page_id']}}';">Cancel</button>
</form>

% end
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#editor',
        height : 150,
        statusbar: true,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code help wordcount'
        ],
        toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        content_style: ".mce-content-body {font-size:14px;font-family:Verdana,Arial,Helvetica,sans-serif;}",
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i']
        });
</script>
