% rebase('base.html', title='preview')

% for item in data['posts']:
<div class="card">
    % if item['headline']:
        <header class="card-header">
            <p class="card-header-title">
            {{item['headline']}}
            </p>
        </header>
    % end
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-6" style="margin-bottom: 6px;">{{item['author']}}</p>
                <!-- <p class="subtitle is-6">@johnsmith</p> -->
                <time style="font-size: 12px;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
        <div class="content">
           {{!item['content']}}
        </div>
    </div>
    <footer class="card-footer">
        <a href="/edit/{{data['page_id']}}/{{item['post_id']}}" class="card-footer-item is-primary">Edit</a>
        <a href="/edit/" class="card-footer-item is-primary">Pin</a>
        <a href="#" class="card-footer-item is-danger">Delete</a>
    </footer>
</div>
<div style="height: 20px;"></div>
% end